.details {
  vertical-align: top;
  display: inline-block;
  padding: 0 10px 10px 10px;
  margin: 0 25px 25px 25px;
  max-width: 100%;
  text-align: left;
}
.details input {
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.details label {
  display: inline-block;
  width: 50px;
  margin: .5em 0;
  font-weight: bold;
}
.details button {
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
}
#buttons {
  text-align: center;
}