<h2>My Movies</h2>
<p>Movies:</p>
<ul class="movies">
  <li *ngFor="let movie of movies"
    [class.selected]="movie === selectedMovie"
    (click)="onSelect(movie)">
      <span class="badge">{{movie.id}}</span> {{movie.title}}
      <button class="delete"
			  (click)="delete(movie); $event.stopPropagation()">x
			</button>
  </li>
</ul>
<div *ngIf="selectedMovie">
  <h2>
    {{selectedMovie.title | uppercase}} is my movie
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<p>Add a New Movie:</p>
<div id="addtion">
  <input #movieTitle placeholder="Title" />
  <br />
  <input #movieRating type="number" min="1" max="5" placeholder="Rating" />
  <br />
  <textarea #movieSynopsis rows="10" placeholder="Synopsis"></textarea>
  <br />
  <div id="button-div">
    <button class="add" 
         (click)="add(movieTitle.value, movieRating.value, movieSynopsis.value);
                  movieTitle.value=''; movieRating.value=''; movieSynopsis.value=''">
      Add
    </button>
  </div>
</div>