<h2>My Movies</h2>
<p>Movies:</p>
<ul class="movies">
  <li *ngFor="let movie of movies"
    [class.selected]="movie === selectedMovie"
    (click)="onSelect(movie)">
      <span class="badge">{{movie.id}}</span> {{movie.title}}
      <button class="delete"
			  (click)="delete(movie); $event.stopPropagation()">x
			</button>
  </li>
</ul>
<div *ngIf="selectedMovie">
  <h2>
    {{selectedMovie.title | uppercase}} is my movie
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<p>Add a New Movie:</p>
<div>
  <input #movieTitle placeholder="Title" />
  <input #movieRating type="number" placeholder="Rating" />
  <input #movieSynopsis placeholder="Synopsis" />
  <button class="add" 
      (click)="add(movieTitle.value, movieRating.value, movieSynopsis.value);
               movieTitle.value=''; movieRating.value=''; movieSynopsis.value=''">
    Add
  </button>
</div>